<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/marketplusdb</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.connection.username">artur</property>
    <property name="hibernate.connection.password">12345</property>
    <property name="hibernate.connection.pool_size">1</property>

    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">create</property>
    <mapping class="sharafutdinov.artur.marketplus.model.User" />
    <mapping class="sharafutdinov.artur.marketplus.model.Role" />


  </session-factory>
</hibernate-configuration>